@font-face {
    font-family: poiret;
    src: url(PoiretOne-Regular.ttf);
}

@font-face {
    font-family: avenir-regular;
    src: url(AvenirNextLTPro-Regular.otf);
}

@font-face {
    font-family: avenir-demi;
    src: url(AvenirNextLTPro-DemiCn.otf);
}

@font-face {
    font-family: avenir-proheavy;
    src: url(AvenirNextLTPro-HeavyCn.otf);
}


body {
    padding: 20px!important;
    background-image: -webkit-gradient( linear, left top, left top, color-stop(0, #DAD0C2), color-stop(0.36, #FCF9EF) );
    background-image: -o-linear-gradient(top, #DAD0C2 0%, #FCF9EF 36%);
    background-image: -moz-linear-gradient(top, #DAD0C2 0%, #FCF9EF 36%);
    background-image: -webkit-linear-gradient(top, #DAD0C2 0%, #FCF9EF 36%);
    background-image: -ms-linear-gradient(top, #DAD0C2 0%, #FCF9EF 36%);
    background-image: linear-gradient(to top, #DAD0C2 0%, #FCF9EF 36%);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif, poiret, avenir-regular, avenir-demi, avenir-proheavy;
}

h1, h2{
    font-weight:bolder!important;
    font-family:poiret;
}

h3, h4{
    font-weight:bold;
    font-family: avenir-regular;
}

.price-wrapper{
    font-weight: bold!important;
    clear:both;
}

h1.product-name{
    font-family:avenir-proheavy;
}

h2.product-description{
    font-family:avenir-demi;
}

h3.price {
    font-stretch: ultra-expanded!important;
    font-family: avenir-demi;
}

#userForm input{
    margin-bottom: 10px;
}

.lblFormItem{
    width:100px !important;
    font-family: avenir-regular;
}