@using ClickBox.Web.Models
@model dynamic

@{
    ViewBag.Title = "title";
}

<link href="@Url.Content("~/Content/Custom/product-table.css")" rel="stylesheet" type="text/css" />

<div ng-app="productModule"
     ng-controller="productController"
     class="div-table-outer-wrapper">
    <div style="width: 60%;">
        <h2 class="pull-left">Products</h2>
        <div class="pull-right fa fa-save action-buttons"
             ng-if="selectedProduct"
             ng-click="saveSelectedProduct()">
        </div>
        <div class="pull-right fa fa-plus action-buttons"
             ng-if="!selectedProduct"
             ng-click="addNewProduct()">
        </div>
        <div class="pull-right fa fa-remove action-buttons"
             ng-click="cancel()">
        </div>
    </div>
    <div style="width: 60%;">
        <div class="div-table">
            <div class="div-table-row">
                <div class="div-table-head id-head">ID</div>
                <div class="div-table-head name-head">Name</div>
                <div class="div-table-head privkey-head">Private Key</div>
                <div class="div-table-head pubkey-head">Public Key</div>
            </div>
            <div ng-repeat="p in Products"
                 class="div-table-row"
                 ng-cloak
                 ng-click="showProductDetails({product: p.Id})">
                <div class="div-table-cell id-cell" title="{{p.Id}}">{{p.Id}}</div>
                <div class="div-table-cell name-cell" title="{{p.Name}}">{{p.Name}}</div>
                <div class="div-table-cell privkey-cell">{{p.PrivateKey}}</div>
                <div class="div-table-cell pubkey-cell">{{p.PublicKey}}</div>
            </div>
        </div>
        <h3 ng-if="selectedProduct" 
            ng-cloak>
            Details
        </h3>
        <div ng-if="selectedProduct"
             ng-cloak>
            <div class="clearfix detail-row">
                <span class="pull-left detail-label">Product ID:</span>
                <span class="pull-left detail-value">{{selectedProduct.Id}}</span>
            </div>
            <div class="clearfix detail-row">
                <span class="pull-left detail-label">Product Name:</span>
                <input type="text"
                       required
                       ng-model="selectedProduct.Name"
                       class="pull-left detail-value">
            </div>
            <div class="clearfix detail-row edit-row">
                <span class="pull-left detail-label">Private Key:</span>
                <textarea class="pull-left detail-value"
                          ng-model="selectedProduct.PrivateKey">
                </textarea>
            </div>
            <div class="clearfix detail-row edit-row">
                <span class="pull-left detail-label">Public Key:</span>
                <textarea class="pull-left detail-value"
                          ng-model="selectedProduct.PublicKey">
                </textarea>
            </div>
        </div>
        <h3 ng-if="newProduct"
            ng-cloak>
            New Product
        </h3>
        <form>
            <div ng-if="newProduct"
                 ng-cloak>
                <div class="clearfix detail-row">
                    <span class="pull-left detail-label">Product ID:</span>
                    <span class="pull-left detail-value">{{newProduct.Id}}</span>
                </div>
                <div class="clearfix detail-row">
                    <span class="pull-left detail-label">Product Name:</span>
                    <input type="text"
                           required
                           ng-model="newProduct.Name"
                           class="pull-left detail-value">
                </div>
                <div class="clearfix detail-row edit-row">
                    <span class="pull-left detail-label">Private Key:</span>
                    <textarea class="pull-left detail-value"
                              ng-model="newProduct.PrivateKey"></textarea>
                </div>
                <div class="clearfix detail-row edit-row">
                    <span class="pull-left detail-label">Public Key:</span>
                    <textarea class="pull-left detail-value"
                              ng-model="newProduct.PublicKey"></textarea>
                </div>
                <div class="clearfix detail-row pull-right">
                    <button ng-click="saveNewProduct()">Save</button>
                </div>
            </div>
        </form>
    </div>

    <script>

        var productModule = angular.module("productModule", []);
        var data = @Html.Raw(Json.Encode(Model));
        productModule.value("Products", data.Products);

    </script>

    <script src="~/AngularModules/modules/product.module.js" language="javascript"></script>
